<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">
<style>
    body {
        background-color: beige;}
</style>

<head>
    <meta charset="UTF-8">
    <title>{% block name %}Мій блог{% endblock %}</title>
    <style>
      a
      {
        display: block;
        float: right;
        margin-right: 20px;
        padding: 10px 5px;
        color: black;

        border-radius: 20px ;
        border: 1px solid black;
        text-decoration: none;
        transition: color 0.5s , background 0.5s;
      }

      a:hover
      {
          color: gold;
          background: blue;
          border: 1px solid blue;
      }
    </style>
</head>
{% if user.is_authenticated %}
    <a href="/in/logout">Вийти({{user.username}})</a>
{% else %}
    <a href="/in/register">Регистрація</a>
    <a href="/in/login">Вхід</a>

{% endif %}
<body>

    {% block content %}{% endblock %}

</body>
</html>