{% extends 'base.html' %}

{% block name %}{{article.name_article}}{% endblock %}

{% block content %}

<h2>{{article.name_article}}</h2>

<p>{{article.text_article}}</p>

<em>{{article.pub_date}}</em>

{% if article.was_published_recently %}
НОВА СТАТЬЯ
{% endif %}
<hr>

{% if latest_comment_list %}
    {% for c in latest_comment_list %}
        <hr>
             <strong>Ім'я користувача {{c.name_user}}</strong>
            <p>Коментарій {{c.text_comment}}</p>
            <p>Дата коментарія {{c.date_comment}}</p>

    {% endfor %}
{% else %}
    Коментарії не знайдені
{% endif %}
<hr>

<form action= "{% url 'Articles:leave_comment' article.id %}" method="POST">

    {% csrf_token %}
    {% if user.is_authenticated %}
        <p class="name">{{user.username}}</p>
    {% else %}
        <input name="name" required ="" placeholder="Ім'я користувача"><br>
    {% endif %}

    <textarea name = "text" required ="" placeholder="Текст коментарія" cols = "30" rows = "10">

    </textarea><br>

    <button type="submit">Оставити коментарій</button>

</form>

{% endblock %}